.health-records{
    position: relative;
    margin-top: 200px;
}
.record-box {
    height: 95Vh;
    width: 90Vw;
}
.no-records{
    height: 15rem;
    width: 15rem;
}
.blank-record{
    padding-top: 3.6rem !important;
    font-size: 1.4rem;
}
.record-img{
    height: 100%;
    width: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.record-add-btn{
    display: block;
    width: 80vw;
    position: absolute;
    top: 90%;
    font-size: 16px;
    background-color: #49CE95;
    border: none;
}