body.overlay{
    overflow: hidden;
}
.top-navigation{
    height: 5rem;
    width: 100vw;
    background-color: rgb(6, 6, 182);
    position: fixed;
    z-index: 300 !important;
}
.menu-toggle{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
}
.sidebar{
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 85vw;
    margin-left: -85vw;
    z-index: 20;
}
.sidebar.expand{
    position: absolute;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 85vw;
    margin-left: 0vw;
    z-index: 20;
}
.toggle-icon{
    pointer-events: none;
}
.close-icon-box{
    cursor: pointer;
}
.close-icon{
    position: absolute;
    left: 85%;
    font-size: 2rem;
}
.close-icon-inner{
    pointer-events: none;
}
.guest-box{
    margin-left: 4rem;
    padding-top: 2rem;
}
.menu-options{
    list-style-type: none;
    margin-top: 5rem !important;
    margin-left: 1rem;

}
.link-icon{
    /* font-size: 20px; */
    color: rgb(105, 105, 105);
    font-size: 1.7rem;
}
.link-text{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(141, 140, 140);
}
.link{
    text-decoration: none !important;
}
.guest-icon{
    font-size: 5rem;
    margin-top: -2.6rem;
}
.guest-label{
    padding-top: 0.5rem !important;
    font-size: 20px;
    font-weight: 500;
    margin-top: -2rem;
}
.profile-wrap{
    padding: 0.5rem;
    background-color: rgb(250, 249, 249);
}
